<div style="margin-top:85px">
    <div class="card container-fluid" style="border:0px;">
        <div class="card-img-top" style="height: 270px; ;background-image: url(./../../assets/img/others/landing.png); background-repeat: no-repeat; background-size: cover; border-radius: 10px">
            <h1 class="" style="text-align: left;line-height: normal; font-size: 550%; color: #ffffffd1; padding-left: 30px;">YOU DESERVE IT</h1>
        </div>
        <div class="card-body">
            <h2 class="card-title">Luxury Outlets</h2>
            <h4 class="card-text">Compre lo que desee y rastree su pedido. Los mejores articulos de lujo. Pague desde la comodidad de su casa Visa / Mastercard. Lo entregamos hasta la puerta de su casa.</h4>
            <div class="row text-center">
                <div class="col px-0">
                    <a class="btn btn-lux" routerLink='/about-us'>Saber mas</a>
                </div>
                <div class="col px-0">
                    <a class="btn btn-lux" routerLink="/login">¡Comprar ya!</a>
                </div>
            </div>
        </div>
    </div>
</div>