<div style="margin-top:85px">
    <div class="card container-fluid">
        <div class="card-img-top" style="height: 270px; ;background-image: url(./../../assets/img/landing.png); background-repeat: no-repeat; background-size: cover; border-radius: 10px">
            <h1 class="card-title" style="text-align: left; font-size: 460%; color: #ffffffd1; padding-left: 30px;">YOU DESERVE IT</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Luxury Outlets</h5>
            <p class="card-text">Compre lo que desee y rastree su pedido. Los mejores articulos de lujo. Pague desde la comodidad de su casa Visa / Mastercard. Lo entregamos hasta la puerta de su casa.</p>
            <a href="#" class="btn btn-lux">Comprar</a>
        </div>
    </div>
</div>
