<div class="col-lg-4">
    <aside class="user-info-wrapper">
        <div class="user-cover" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
            <div class="info-label" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward Points to spend"><i class="icon-medal"></i>290 points</div>
        </div>
        <div class="user-info">
            <div class="user-avatar">
                <a class="edit-avatar" href="#"></a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User"></div>
            <div class="user-data">
                <h4>Daniel Adams</h4><span>Joined February 06, 2017</span>
            </div>
        </div>
    </aside>
    <nav class="list-group">
        <a class="list-group-item with-badge" href="#"><i class=" fa fa-th"></i>Orders<span class="badge badge-primary badge-pill">6</span></a>
        <a class="list-group-item" href="#"><i class="fa fa-user"></i>Profile</a>
        <a class="list-group-item" href="#"><i class="fa fa-map"></i>Addresses</a>
        <a class="list-group-item with-badge active" href="#"><i class="fa fa-heart"></i>Wishlist<span class="badge badge-primary badge-pill">3</span></a>
        <a class="list-group-item with-badge" href="#"><i class="fa fa-tag"></i>My Tickets<span class="badge badge-primary badge-pill">4</span></a>
    </nav>
</div>
