<div class="container mt-5">
    <div class="container" style="text-align: -webkit-center;">
        <div>
            <div class="mb-3 p-0 bg-light lista shadow" style="background-image: url(../../../assets/img/profiles/perfil.jfif);">
            </div>
            <div class="mb-3 px-0" style="text-align: start; max-width: 384px;">
                <div class="py-0">
                    <div class="">
                        <div class="px-0">
                            <h2 class="product-title">Nombre Completo</h2>
                            <div style="margin-left: 5%;">
                                <h2>Karen Bonilla</h2>
                            </div>
                            <h2 class="product-title">Ordenes pendientes de entrega</h2>
                            <div style="margin-left: 5%;">
                                <h2>2</h2>
                            </div>
                            <h2 class="product-title">Ordenes Completadas</h2>
                            <div style="margin-left: 5%;">
                                <h2>25</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
