<div style="margin-top:85px">
    <div class="card container-fluid" style="border:0px;">
        <div class="card-body">
            <h5 class="card-title">¿Quienes Somos?</h5>
            <p class="card-text">Somos una empresa responsable, que nace con la iniciativa de brindar un espacio virtual a muchas empresas que comercialzan productos de calidad y que desean expandir aun mas sus alcances de marketing digital. Luxury como empresa desea poder
                brindar a sus clientes la mejor atencion y el mejor servicio en marketing digital, ademas deseamos que los clientes logren alcanzar la mejor experiencia de usuario a traves de nuestra plataforma.
            </p>
        </div>
    </div>
</div>
