/* paleta de colores
#6B45B6 morado
#FFB800 dorado
#838383 grisaceo
*/

.html,
body {
    /* Para que funcione correctamente en Smartphones y Tablets */
    height: 100vh;
}

.bg-gris {
    background-color: #ededed !important;
}

.gris {
    color: #838383 !important;
}

.morad {
    color: #6B45B6 !important;
}

.dorad {
    color: #FFB800 !important;
}

li.active {
    color: #6B45B6 !important;
}

li {
    color: #838383 !important;
}

li:hover {
    color: #6B45B6 !important;
}

.img-bar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-size: cover!important;
    background-position: center;
    outline: solid;
}