.lista {
    background-size: cover;
    max-width: 384px;
    border-radius: 10px;
}

.product-title {
    font-weight: bold;
    font-size: 18px;
    color: rgb(3, 3, 3);
}

.categoria-arrow {
    font-weight: bolder;
    font-size: 36px;
    color: #fff;
    margin-bottom: 0px;
}

.info-border {
    border-color: #FFB800;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
