<div *ngIf="!companies; else divCompanies">
</div>

<ng-template #divCompanies>
    <div class="container-fluid" style="padding-bottom:110px; margin-top:10px">
        <div class="row">
            <div class="col">
                <div class="row">
                    <a routerLink="/categories" class="morad"><i class="fas fa-long-arrow-alt-left fa-2x"></i><span class="mb-0 px-1" style="font-size: x-large; align-self: center;">Categorías</span></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" style="text-align-last: center;">
            <h2 class="morad">Empresas <span class="text-muted" style="font-size: small;">({{collectionSize}})</span></h2>
        </div>
        <table class="table">
            <tbody>
                <tr *ngFor="let cmp of companies">
                    <a class="card mb-3 p-0 bg-light lista shadow" (click)="goCompany(cmp._id)">
                        <div class="card-body pt-2">
                            <div div class="pt-3">
                                <img src="{{cmp.img}}" style="width: 345px; height:150" alt="logo2.jpg">
                            </div>
                            <div class="row">
                                <div class="col-3 px-3" style="border-radius: 50%;width: 100px; height:100">
                                    <img class="shadow" src="{{cmp.logo}}" style="border-radius: 50%;width: 100px; height:100" alt="logo1.png">
                                </div>
                                <div class="col-9 py-4" style="padding-left:35px">
                                    <div class="row">
                                        <h4 class="product-title pt-2 px-4">{{cmp.name}}</h4>
                                    </div>
                                    <div class="row" class="justify-content-center">
                                        <ngb-rating class="dorad" style="font-size: xx-large;" [max]="5" [(rate)]="cmp.calification" [readonly]="true"></ngb-rating>
                                    </div>
                                </div>
                                <div class="row text-left px-4">
                                    <h2>{{cmp.description}}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="justify-content p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCompanies()">
            </ngb-pagination>
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCompanies()">
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="4">4 items per page</option>
          <option [ngValue]="6">6 items per page</option>
        </select>
        </div>
    </div>
</ng-template>
